<!--WHAT'S NEW-->
<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>What's New</h2>
      </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div>
            <what-is-new></what-is-new>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Trending</h2>
      </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div>
            <trending></trending>
        </div>
    </mat-card-content>
</mat-card>