<mat-card>
  <!--COMMENTED TO AVOID THE HEADING STICKING TO THE LEFT OF THE PROGRESS BAR
  <mat-card-header>
    <mat-card-title>
      <h1 class="h1-space">Funds Raised</h1>
    </mat-card-title>
  </mat-card-header>
  -->
  <mat-card-content>
    <h2 class="h2-space">Funds Raised</h2>
    <section class="middle-space">
      
      <mat-progress-bar class="progress-bar-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>